### Load Library

In [84]:
#Import library yang diperlukan untuk melakukan analisis sentimen

import nltk 
import string
import re
import pickle
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt


from sklearn.svm import SVC, LinearSVC
from sklearn import svm
from sklearn.model_selection import train_test_split, KFold, cross_val_score,cross_val_predict
from sklearn.decomposition import PCA
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold, cross_val_score, train_test_split
import nltk
from nltk.tokenize import word_tokenize
from nltk.classify.scikitlearn import SklearnClassifier

### Load Data

In [85]:
def load_data(path):
    data_review = pd.read_csv(path, encoding='utf-8')
    return  data_review

In [86]:
data_review = pd.read_csv('./shopee_reviews_data.csv')

In [87]:
# Menampilkan jumlah data dan kolom data pada dataset
print(data_review.shape)

(10000, 3)

Data yang di-load memiliki format_csv dan data diinisialisasi dengan data_review. Setelah data dimuat, maka tim melihat berapa jumlah data dan kolom yang terdapat pada dataset. Jumlah baris data pada dataset sebanyak 10000 baris dan kolom sebanyak 3.

In [88]:
len(data_review)

10000

In [89]:
# menampilkan 10 data paling atas
data_review.head(5)

   label                                               text  Sentimen
0      5  Looks ok. Not like so durable. Will have to us...  Positive
1      5  Tried, the current can be very powerful depend...  Positive
2      5  Item received after a week. Looks smaller than...  Positive
3      5  Thanks!!! Works as describe no complaints. Not...  Positive
4      5  Fast delivery considering it’s from overseas a...  Positive

 Data yang ditampilkan adalah lima data paling atas dan lima data paling bawah. Dapat dilihat bahwa terdapat 3 atribut, yakni label, text dan sentimen.

In [90]:
# menampilkan 5 data paling bawah
data_review.tail()

      label                                               text  Sentimen
9995      5               Hi Product does not work properly :)  Positive
9996      5  Best purchase ever.. never regret and item cam...  Positive
9997      5  Suction is good. It will not fall. Very happy ...  Positive
9998      5  Very goooood suction and very fast delivery . ...  Positive
9999      5   Item received in good condition. Yet to try out.  Positive

### EDA

Tujuan dilakukannya eksplorasi data adalah untuk mengetahui kondisi atau kualitas dari data. 
Pada dataset yang digunakan terdapat data numerik yaitu label. Tim akan melihat analisis statistik dari data label tersebut.

In [91]:
# menampilkan info deskripsi dataset
data_review.describe()

              label
count  10000.000000
mean       4.764600
std        0.712066
min        1.000000
25%        5.000000
50%        5.000000
75%        5.000000
max        5.000000

Dari hasil deskripsi review data, yang berjumlah 10.000 memiliki standard deviasi  0,71. Standar deviasi merupakan akar dari varian, sehingga semakin besar nilai standar deviasi maka data sampel semakin menyebar (bervariasi) dari rata-ratanya.

In [92]:
# menampilkan info dataset
data_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     10000 non-null  int64
 1   text      10000 non-null  object
 2   Sentimen  10000 non-null  object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [93]:
#memeriksa duplicate data
data_duplicate = data_review[data_review['text'].duplicated()]
print(f'No. of duplicate reviews on train data: {data_duplicate.shape[0]}')

No. of duplicate reviews on train data: 0

Data yang digunakan sudah terbilang baik, karena tidak terdapat data yang memiliki duplikat dan tidak ada data yang bernilai null